    <div class="page-header marketing">
        <h1>Business Catalyst News <small>from around the web.</small></h1>
    </div><!-- Main Page Content and Sidebar -->

    <div class="row marketing">
        <!-- Main Blog Content -->

        <div class="col-md-8" role="content">
            {tag_postlist}
        </div>
        <!-- End Main Content -->
        <!-- Sidebar -->
    <aside class="col-md-4">
        <hr>
        {module_contentholder,name="Aside - Get Started"}
        <hr>
        {module_contentholder,name="Aside - Newsletter Signup"}
        <hr>
        {module_contentholder,name="Aside - BC News"}
    </aside>
        <!-- End Sidebar -->
    </div>
    <!-- End Main Content and Sidebar -->
