<html>
    <head>
        <title>AID BC — {tag_question}</title>
        <meta name="description" content="Learn from a Business Catalyst partner since 2008 who has built over 150 websites using Adobe&rsquo;s platform. In Web Design since July 1995." />
    </head>
    <body>
        <div class="page-header marketing">
	        <h1>{tag_name}</h1>
        </div>
        <!-- Main Page Content and Sidebar -->
        <div class="row marketing">
        <!-- Contact Details -->
        <div class="col-md-9">
		<p>
			<strong>Date: </strong><span class="date">{tag_date}</span><br />
			<strong>Capacity: </strong><span class="capacity">{tag_capacity}</span> ({tag_percentfull} booked)
		</p>
		<h2>Details</h2>
		{tag_body}

		<form name="catwebformform48727" onsubmit="return checkWholeForm48727(this)" action="/FormProcessv2.aspx?WebFormID=10254&amp;OID={module_oid}&amp;OTYPE={module_otype}&amp;EID={module_eid}&amp;CID={module_cid}" method="post" enctype="multipart/form-data" id="catwebformform48727">
		
		<div class="form-container">
			<h2>Booking</h2>
			<p>&bull; Required</p>
					<label>Title</label><br/>
						<select class="cat_dropdown_smaller" name="Title">
						<option value="" selected="selected"></option>
						<option value="3395">DR</option>
						<option value="3393">MISS</option>
					 	<option value="3391">MR</option>
					 	<option value="3392">MRS</option>
					 	<option value="3394">MS</option>
						</select>

					<label>First Name</label>
					<input class="col-md-3" maxlength="255" name="FirstName" id="FirstName" />&nbsp;&bull;

					<label>Last Name</label>
					<input class="col-md-3" maxlength="255" name="LastName" id="LastName" />&nbsp;&bull;

					<label>Email</label>
					<input class="col-md-3" maxlength="255" name="EmailAddress" id="EmailAddress"/>&nbsp;&bull;

					<label>Company</label>
					<input class="col-md-3" maxlength="255" name="Company" id="Company" />

					<label>Work Phone Number</label>
					<input class="col-md-3" maxlength="255" name="WorkPhone" id="WorkPhone" />

					<p><br/><input class="btn btn-primary" id="catwebformbutton" type="submit" value="Submit" /></p>
					
					<div class="text-error">{module_error}</div>
					
					<script type="text/javascript" src="/CatalystScripts/ValidationFunctions.js" ></script>
					<script type="text/javascript">
					    //<![CDATA[
					    var submitcount48727 = 0;function checkWholeForm48727(theForm){var why = "";if (theForm.FirstName) why += isEmpty(theForm.FirstName.value, "First Name");if (theForm.LastName) why += isEmpty(theForm.LastName.value, "Last Name"); if (theForm.EmailAddress) why += checkEmail(theForm.EmailAddress.value); if(why != ""){alert(why);return false;}if(submitcount48727 == 0){submitcount48727++;theForm.submit();return false;}else{alert("Form submission is in progress.");return false;}}
					    //]]>
					</script>
			</div><!-- END .form-container -->
			</form>
        </div>
        <!-- Sidebar -->
        <aside class="col-md-3">
        {module_contentholder,name="Aside - Upcoming Classes"}
        <hr />
        {module_contentholder,name="Aside - BC News"}
        </aside>
        <!-- End Sidebar -->
        </div>
        <!-- End Main Content and Sidebar -->
    </body>
</html>
