<html>
    <head>
        <title>AID BC — {tag_question}</title>
        <meta name="description" content="Learn from a Business Catalyst partner since 2008 who has built over 150 websites using Adobe&rsquo;s platform. In Web Design since July 1995." />
    </head>
    <body>
        <div class="page-header marketing">
	        <h1>{tag_question}</h1>
        </div>
        <!-- Main Page Content and Sidebar -->
        <div class="row marketing">
        <!-- Contact Details -->
        <div class="col-md-9">
	        <p>{tag_answer}</p>
	        <p><a href="/faq">&larr; Back to FAQ's</a></p>
        </div>
        <!-- Sidebar -->
        <aside class="col-md-3">
        {module_contentholder,name="Aside - Upcoming Classes"}
        <hr />
        {module_contentholder,name="Aside - BC News"}
        </aside>
        <!-- End Sidebar -->
        </div>
        <!-- End Main Content and Sidebar -->
    </body>
</html>
