<html>
    <head>
        <title></title>
        <style>
            .pkt_added {text-decoration:none !important;}
        </style>
        <meta name="robots" content="noindex" />
    </head>
    <body>
        <!-- row of columns -->
        <div class="row">
        <div class="col-md-4">
        <h3 class="text-success">San Francisco, CA</h3>
        <p class="text-success">February 26-27, 2013 </p>
        <p><span style="text-decoration: line-through;"><strong>$495 per day</strong> <small>Regular Pricing</small></span><br />
        <span class="text-success"><strong>{tag_saleprice}</strong> <small>Early Bird Pricing</small></span></p>
        <a class="btn btn-medium btn-success" href="/business-catalyst-training-location/grow-your-online-business-with-bc-1">Choose this class</a>
        </div>
        <div class="col-md-8">
        <h3>Grow your Online Business with BC</h3>
        <p>Learn the most effective tools to help you grow your online business!</p>
        <div class="row show-grid">
        <div class="col-md-2 muted">Mon</div>
        <div class="col-md-4 text-error">
        <div class="col-md-12">Tue - Wed Feb. 26 - 27</div>
        </div>
        <div class="col-md-2 muted">Thu</div>
        <div class="col-md-2 muted">Fri</div>
        </div>
        <div class="row">
        <div class="col-md-12">Class includes:
        <ul>
            <li>Experienced BC Instructor</li>
            <li>Continental Breakfast</li>
            <li>Catered Lunch</li>
            <li>Laptop to use during classes</li>
            <li>One-on-One consulting</li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <hr />
    </body>
</html>
