<div id="ng-app" ng-app="event_carts" class="ng-app:event_carts">
	<form action="" method="post" accept-charset="utf-8">
		<div class="row" id="2013-07-15">
			<div class="col-md-12">
				<div class="row remove_bottom event_cart" ng-controller="event_cart_controller" id="event_cart_39" ng-init="init(39)">
						<div class="col-md-7 mobile_add_bottom" itemscope itemtype="http://schema.org/EducationEvent">
							<h2 class="hidden-lg remove_bottom" itemprop="name">
								BC Training classes in San Francisco
							</h2>
							<p class="hidden-lg remove_bottom">
								<a href="/google-adwords-analytics/san-francisco/#2013-07-15" title="See Details for BC Training classes in San Francisco" class="" itemprop="url">BC Training classes in San Francisco</a> 
							</p>
							<div class="row remove_bottom">
								<div class="col-md-7">
									<h2>
										<meta itemprop="startDate" content="2013-07-15T09:00">Jul 15-19, 2013 
										<meta itemprop="endDate" content="2013-07-19T17:00"> 
									</h2>
									<h3 class="remove_bottom">
										<span class="fonticon">\</span> Courses &amp; Days 
									</h3>
								</div>
								<div class="col-md-5 text_center" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
									<input type="hidden" name="promocodes[]" value="1" />
									<p class="green big">
										<span class="fonticon">B</span> <strong>Early Bird Pricing!</strong> 
									</p>
									<p class="remove_bottom green">
										Only <span itemprop="price"><strong>$449</strong></span> or less per day! 
									</p>
									<link itemprop="availability" href="http://schema.org/InStock" />
								</div>
							</div>
							<div class="row remove_bottom ">
								<div class="row disp_bundle remove_bottom">
									<div class="col-md-6">
										<ul class="classes list-unstyled remove_bottom">
											<li> <label class="checkbox remove_bottom" for="class_111111" ng-click="change_class('111111')" data-class_sku="111111"> 
											<input type="checkbox" id="class_111111" value="111111" />
											<span></span> BC 101 
											<p class="gray small remove_bottom">
												Monday, July 15, 2013 
											</p>
											</label> </li>
										</ul>
									</div>
									<div class="col-md-6 disp_bundle_details">
										<div class="adwords_promo radius5 green mobile_half_bottom">
											<strong>Save $100</strong> by signing up for both AdWords days! 
										</div>
									</div>

<!-- .disp_bundle_details -->
								</div>
<!-- .disp_bundle -->
								<div class="row disp_classes remove_bottom">
									<ul class="classes list-unstyled remove_bottom">
									</ul>
								</div>
<!-- .disp_classes -->
							</div>
<!-- Category row -->
						</div>
						<div class="col-md-5">
							<div class="row half_bottom mobile_half_bottom">
								<div class="col-md-6 mobile_half_bottom" itemprop="location" itemscope itemtype="http://schema.org/Place">
									<h3>
										<span class="fonticon">@</span> Venue 
									</h3>
									<strong>TBD</strong><br><br><br> 
								</div>
								<div class="col-md-6">
									<h3>
										<span class="fonticon lowercase">t</span> Time 
									</h3>
									<p class="remove_bottom">
										<strong>Check-in:</strong> 8:30am - 9am 
									</p>
									<p class="remove_bottom">
										<strong>Seminars:</strong> 9am - 5pm 
									</p>
								</div>
							</div>
							<div class="row half_bottom">
								<div class="col-md-12" ng-switch on="display_classes()">
									<p class="added_area radius5 shadow green text_center" ng-switch-when="false">
										<span class="fonticon">[</span> Please check the days you would like to attend. 
									</p>
									<div class="added_area radius5 shadow" ng-switch-default>
										<input type="hidden" ng-repeat="selected_bundle in selected_bundles" name="bundles[{{selected_bundle.price_sku}}]" ng-model="selected_bundle.qty" value="{{selected_bundle.qty}}" />
										<ul class="list-unstyled clearfix">
											<li class="row" ng-repeat="selected_class in selected_classes" ng-show="selected_class"> 
											<div class="col-md-6">
												{{selected_class.name}}<br> <span class="gray small">{{selected_class.class_date}}</span> 
											</div>
											<div class="col-md-3">
												<select ng-model="selected_class.qty" name="classes[{{selected_class.price_sku}}]" ng-change="update_cart()" class="radius5 remove_bottom">
													<option ng-repeat="x in sequence_array(selected_class.seats_avail)">{{x}}</option>
												</select>
											</div>
											<div class="col-md-3 success">
												<span class="right">${{format_currency(selected_class.display_cost * selected_class.qty)}}</span> 
											</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7 mobile_half_bottom">
									<a href="" class="mobile_text_center transition" title="If you'd like to allocate your tickets to multiple individuals, simply select the total number of tickets you require for each course on this page and then you can assign them to specific people on the next page."><span class="fonticon">i</span> Sending multiple people?</a> 
								</div>
								<div class="col-md-5 text_right mobile_add_bottom">
									<p class="green remove_bottom" ng-show="cart_savings">
										<strong>Savings:&nbsp;&nbsp;&nbsp;&nbsp; -${{format_currency(cart_savings)}}</strong> 
									</p>
									<p class="remove_bottom" ng-show="cart_tax">
										<strong>Tax:&nbsp;&nbsp;&nbsp;&nbsp; ${{format_currency(cart_tax)}}</strong> 
									</p>
									<p class="remove_bottom big">
										Total:&nbsp;&nbsp; ${{format_currency(cart_total)}} 
									</p>
								</div>
							</div>
							<div class="row half_bottom">
								<div class="col-md-12">
									<input type="submit" name="submit" value="Reserve Your Seat" class="button orange large text_center full-width radius5 shadow transition remove_bottom" ng-click="reserve_submit()" ng-show="cart_total > 0" />
									<div class="button orange large full-width radius5 shadow transition remove_bottom disabled" ng-show="cart_total == 0">
										Reserve Your Seat 
									</div>
								</div>
							</div>
							<div class="row remove_bottom">
								<div class="col-md-12">
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- END ng-app -->