<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>AID+BC - Template Purchase Confirmation</title>
    </head>
    <body style="margin: 0px; padding: 0px; font-family: arial, sans-serif; background-color: #fafafa;">
        <!-- main table wrapper used for background color -->
        <table cellpadding="0" cellspacing="0" style="width: 100%; height: 100%; background-color: #fafafa; font-family: arial;">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width: 100%; text-align: center;">
                    <!-- the newsletter -->
                    <table cellpadding="0" cellspacing="0" style="font-size: 10px; margin: 0px auto; font-family: arial; text-align: left;">
                        <tbody>
                            <tr>
                                <td style="width: 600px; height: 80px;">Your invoice for the AID+BC - Business Catalyst Template.</td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" cellspacing="0" style="margin: 0px auto; background-color: #ffffff; border: 1px solid #cccccc; text-align: left;">
                        <tbody>
                            <tr>
                                <td>
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;"></td>
                                            <td style="width: 410px; height: 100px;"><a href="http://www.aidbc.com"><img src="http://www.aidbc.com/images/logos/aidbc-logo-sm.png" width="97" height="34" style="width: 97px; height: 34px; border: 0px;" alt="AID BC Logo" /></a></td>
                                            <td style="width: 110px;">
                                            <a href="http://www.facebook.com/pages/aid-bc/517635588277369"><img src="http://www.aidbc.com/CatalystImages/Campaigns2/event1/images/fb-share.png" width="32" height="32" alt="Facebook share" style="border: 0px;" /></a>
                                            <a href="http://twitter.com/aidbc"><img src="http://www.aidbc.com/CatalystImages/Campaigns2/event1/images/twitter-share.png" width="32" height="32" alt="Twitter share" style="border: 0px;" /></a>
                                            </td>
                                            <td style="width: 40px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;"></td>
                                            <td style="text-align: center; width: 520px;">
                                            <h1 style="font-size: 32px; font-family: 'helvetica neue', helvetica, arial, sans-serif; margin: 0px;">INVOICE</h1>
                                            </td>
                                            <td style="width: 40px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 26px;"></td>
                            </tr>
                            <tr>
                                <td>
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;"></td>
                                            <td style="vertical-align: top; width: 520px;">
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">
                                            Thank you for purchasing a template from AID+BC.
                                            </p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;"><strong>CONTACT INFORMATION</strong>
                                            <br />
                                            {tag_recipientname}<br />
                                            {tag_addressdefault}</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;"><strong>TEMPLATE PURCHASED</strong>
                                            <br />
                                            {tag_productname}<br />
                                            Quantity: {tag_productquantity}<br />
                                            Price: {tag_productextaxamount}<br />
                                            Order Date: {tag_invoicedate}</p>
                                            <hr />
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;"><strong>AMOUNT PAID</strong>
                                            <br />
                                            {tag_amountpaid}</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;"><strong>BALANCE DUE</strong>
                                            <br />
                                            {tag_amountoutstanding}</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">The template will be transferred to your partner portal.</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">
                                            If you have any questions, please contact us or visit the <a href="http://www.aidbc.com">AID+BC website</a>. We hope you enjoy using our template!
                                            </p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">&nbsp;</p>
                                            <p style="font-size: 18px; line-height: 27px; margin: 0px; font-family: arial;">
                                            Thank you,<br />
                                            AID+BC 
                                            </p>
                                            </td>
                                            <td style="width: 40px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 36px;">
                                <!-- spacer -->
                                </td>
                            </tr>
                            <tr>
                                <td>
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40px;"></td>
                                            <td style="background-color: #f2f2f2; text-align: center; font-size: 12px; font-family: arial, sans-serif; width: 520px; height: 40px;">
                                            <a href="http://twitter.com/aidbc" style="color: #000000;">follow on Twitter</a> | <a href="http://www.facebook.com/pages/aid-bc/517635588277369" style="color: #000000;">friend on Facebook</a>
                                            </td>
                                            <td style="width: 40px;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="height: 15px;"></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 40px;"></td>
                                            <td style="text-align: center; font-size: 12px; font-family: arial, sans-serif; width: 520px; height: 40px;">
                                            Copyright &copy; 2015 AID+BC, All rights reserved.
                                            </td>
                                            <td style="width: 40px;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" style="width: 600px; height: 26px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end the newsletter -->
                    </td>
                </tr>
                <tr>
                    <td style="height: 100px;">
                    <!-- spacer -->
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end main table wrapper -->
    </body>
</html>
