/* @override https://www.aidbc.com/stylesheets/custom.css */

/* Narrow Marketing
------------------------------------------------------------ */
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 950px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
		background: url('/images/sunburst.png') right no-repeat #edeeed;
      }
      .jumbotron h1, .jumbotron h2 {
        font-size: 72px;
        line-height: 1;
        max-width: 915px;
        margin: 0 auto;
      }
      
      .jumbotron h2 {
        font-size: 64px;
      }

.jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }
		#home .jumbotron {
			background: url('/images/sunburst.png') right no-repeat #edeeed;
			min-height: 275px;
			margin-bottom: 28px;
		}

      /* Supporting marketing content */
      .marketing {
        margin: 50px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
/* Custom
------------------------------------------------------------ */
a.navbar-brand {
float:left;
text-indent:-9999px;
overflow:hidden;
width:92px;
height: 32px;
background: url(/images/logos/aidbc-logo.png) no-repeat;
cursor:pointer;
padding: 0;
margin: 0;
top: 6px;
left: 18px;
position: relative;
display: inline;
margin-right: 30px;
}

body.custom-background {background: #EFEFEF;}

.col-md-3 h3 {margin-top: 0;
	top: -10px;
	position: relative;
}
.zero-below {
	margin-bottom: 0;
}

.zero-above {
	margin-top: 0;
}


/* Carousel
------------------------------------------------------------ */

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
/*
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
*/


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 20px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 981px) {
		.bg-hero {display: none;}

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      .nav-collapse,
      .nav-collapse.collapse {
        height: 0;
        overflow: hidden;
        background-color:white ;
      }
    }


    @media (max-width: 767px) {
		.bg-hero {display: none;}
		#home .jumbotron {
			background: url('/images/sunburst.png') right no-repeat #edeeed;
			min-height: 250px;
			margin-bottom: 28px;
		}

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .col-md-4 + .col-md-4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      .jumbotron h1 {
        font-size: 38px;
        line-height: 1;
      }
      .jumbotron p {
      	padding-left: 0;
      }

    }
    @media (max-width: 480px) {
		.bg-hero {display: none;}
		#home .jumbotron {
		    background: url('/images/sunburst.png') right no-repeat #edeeed;
		    min-height: 325px;
		}
	}
    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}

/* List items 
----------------------------------------------- */
ul.list-unstyled {
	list-style: none;
	padding: 0;margin: 0;
}
ul.list-unstyled li.checkmark {
	background: url(/assets/img/checkmark.gif) no-repeat left center;
	padding: 2px 0 0 18px !important;
}

.light {
	font-weight: 100 !important;
	color: gray;
}
.light strong {
	font-weight: bold;
	color: #5A5A5A;
}

/* Pagination 
----------------------------------------------- */
.pag-next,.pag-prev {display: none !important;}

#home .jumbotron {
	background: url('/images/sunburst.png') right no-repeat #edeeed;
}
#home .jumbotron h1, #home .jumbotron p {text-align: left; margin-left: 0;}
/* #home .media p {font-style: italic;} */
#home .jumbotron p {
	margin-top: 10px;
	font-size: 24px;
}
hr.thick {height: 8px;background: #5a5a5a;margin-top: 0;}
hr.thick-light {height: 8px;background: #eeeeee;}
#home .jumbotron .bg-hero {
  position: relative;
  z-index: 90;
}

.bg-hero-img {
  height: 420px;
  width: 415px;
  overflow: hidden;
  position: absolute;
  top: -45px;
  right: -61px;
/* 	background: url('/images/hero.png') no-repeat; */
}

#home .media {
	position: relative;
	top: -9px;
}

#home .marketing  {
  margin-top: 10px;
  margin-bottom: 0;
}
#home article {
	margin-top: 20px;
	width: auto;
}

#home .marketing h3,#home .marketing h1 {
	margin-top: 0;
}

#home blockquote p{
	font: 20px "Open Sans";
	font-weight: lighter;
}

#home blockquote {
	margin-bottom: 0;
}
#home article .thumbnail {
	min-height: 273px;
	margin-bottom: 0;
}
#home .thumbnail .img-thumbnail {
	border: none;
	max-width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
	background: none;
}

#home .thumbnail .caption h3  {
	text-align: center;
	margin-top: 15px;
	font-size: 22px;
	font-weight: bolder;
}

#home .thumbnail .caption p {
	text-align: center;
	width: 85%;
	margin: 0 auto;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 10px;
}


#home .thumbnail {
	background: url('/images/thumbnail-sunburst.png') center center no-repeat #edeeed;
}
#home .thumbnail a.btn {
font-weight: bold;	
}

#home .form-inline .form-group {
	padding-left: 0;
}

article .thumbnail {
	min-height: 500px;
	margin-bottom: 30px;
}
article .thumbnail.app {
	min-height: 400px;
	margin-bottom: 30px;
}
/*---
| ISOTOPE
---*/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/*---
| PRODUCT LIST
---*/
#load_more [class^="icon-"] {
  display: none;
}
#load_more .icon-spin {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
#load_more.loading {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
#load_more.loading [class^="icon-"] {
  display: inline-block;
}
.product-list {
  margin-left: -30px;
  overflow: visible !important;
  /*zoom: 1;*/

}
.item-list:before {
  content: '';
  display: block;
}
.item-list:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) and (max-width: 979px) {
  .item-list {
    margin-left: -20px;
  }
}
@media (max-width: 767px) {
  .item-list {
    margin-left: -20px;
  }
}
@media (max-width: 480px) {
  .item-list {
    margin-left: 0;
  }
}
.item-list li {
  list-style: none;
  width: 270px;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
.largeProduct .item-list li {
width: 100%;
margin-left: 0px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .item-list li {
    width: 213px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .item-list li {
    width: 166px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .item-list li {
    width: 210px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .item-list li {
    width: 300px;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
.item-list li.featured {
  width: 570px;
}
@media (min-width: 980px) and (max-width: 1199px) {
  .item-list li.featured {
    width: 456px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .item-list li.featured {
    width: 352px;
  }
}
@media (max-width: 767px) {
  .item-list li.featured {
    width: 440px;
  }
}
@media (max-width: 480px) {
  .item-list li.featured {
    width: 300px;
  }
}

ul.item-list.isotope > li > a{
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;
  z-index: 20;
  -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
  /*color: @arguments;*/

}
ul.item-list.isotope > li > a:hover {
  -webkit-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
  box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
  /*color: @arguments;*/

}
ul.item-list.isotope > li > a:hover .image .secondary {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
ul.item-list.isotope > li > a:hover .title .rating {
  color: #1abc9c;
}
ul.item-list.isotope > li > a .image {
  position: relative;
  background: #ffffff url('../../img/preloader.gif') no-repeat center center;
}
ul.item-list.isotope > li > a .image img {
  display: block;
  width: 100%;
}
ul.item-list.isotope > li > a .image .secondary {
  position: absolute;
  top: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
ul.item-list.isotope > li > a .image .badge-sale {
  position: absolute;
  right: -10px;
  top: 40px;
  background-color: #1abc9c;
  font-size: 12px;
  line-height: 12px;
  padding: 4px 8px;
  text-transform: uppercase;
  -webkit-border-radius: 2px 2px 0 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px 2px 0 2px;
  -moz-background-clip: padding;
  border-radius: 2px 2px 0 2px;
  background-clip: padding-box;
}
ul.item-list.isotope > li > a .image .badge-sale:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid;
  border-color: #0e6252 transparent transparent transparent;
  position: absolute;
  right: 0;
  bottom: -20px;
  z-index: -10;
}
ul.item-list.isotope > li > a .title {
  padding: 20px;
  position: relative;
  background-color: #ffffff;
}
ul.item-list.isotope > li > a .title:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  position: absolute;
  left: 20px;
  top: -8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.item-list.isotope > li > a .title .prices {
  text-align: right;
  float: right;
  margin-left: 20px;
  line-height: 20px;
  height: 20px;
}
ul.item-list.isotope > li > a .title .prices .price {
  color: #1abc9c;
  font-weight: 600;
  font-size: 14px;
}
ul.item-list.isotope > li > a .title .prices .base {
  color: #c7c8c8;
  font-weight: 400;
  font-size: 11px;
}
ul.item-list.isotope > li > a .title h3 {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
ul.item-list.isotope > li > a .title .rating {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  color: #c7c8c8;
}
/*---
| PRODUCT LIST SMALL
---*/
.item-list-small {
  list-style: none;
  margin: -20px;
}
.item-list-small li {
  border-bottom: 1px solid #f0f0f0;
  padding: 15px 20px;
  /*zoom: 1;*/

}
.item-list-small li:before {
  content: '';
  display: block;
}
.item-list-small li:after {
  content: '';
  display: table;
  clear: both;
}
.item-list-small .image {
  display: block;
  float: left;
  margin-right: 20px;
  width: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-list-small .image a {
  display: block;
  border: 4px solid #f0f0f0;
  position: relative;
}
.item-list-small .image a:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474948;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.item-list-small .image a:hover {
  border-color: #1abc9c;
}
.item-list-small .image a:hover:before {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.item-list-small .image img {
  display: block;
}
.item-list-small .desc {
  float: left;
}
.item-list-small .desc h6 {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
.item-list-small .desc h6 a {
  color: #474948;
  text-decoration: none;
}
.item-list-small .desc h6 a:hover {
  color: #1abc9c;
}
.item-list-small .desc .price {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #868988;
  margin-bottom: 10px;
}
.item-list-small .desc .price .label {
  margin-left: 5px;
}
.item-list-small .desc .rating {
  font-size: 12px;
  line-height: 15px;
  color: #868988;
  position: relative;
  bottom: -10px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-list-small .desc .rating a {
  color: #c7c8c8;
  font-size: 10px;
  text-decoration: none;
}
.item-list-small .desc .rating a:hover {
  color: #1abc9c;
}
.item-list-small li:hover .desc .rating {
  color: #1abc9c;
  bottom: 0;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
