
<div class="system-message">
	<h1>Secure Zone Authentication</h1>
		<p>	To add an item to your favorites list you must first autenticate. Please enter your username and password below to continue.</p>
		<form id="catseczoneform" name="catseczoneform" action="FavoriteProcess.aspx?A=Login" method="post">
			<div class="form">
				<div class="item">
					<label>Username</label><br/>
					<input class="textbox" maxlength="255" name="Username" />
				</div>
				<div class="item">
					<label>Password</label><br/>
					<input class="textbox" maxlength="255" name="Password" type="password" />
				</div>
				<div class="item">
					<input class="button" value="Login" type="submit" />
				</div>
			</div>
		</form>
</div><!-- END .system-message -->
