	<div class="page-header marketing">
	  <h1>AID BC <small>News and announcements</small></h1>
	</div>

      <!-- Main Page Content and Sidebar -->
 
  <div class="row marketing">
 
    <div class="col-md-9" role="content">
 
      <article>
 
        <h3>{tag_subject}</h3>
        <h6>Written by AID BC on {tag_releasedate}.</h6>
 
        <div class="row">
          <div class="col-md-12">
	          {tag_body}
          </div>
        </div>
  
      </article>
         <a href="/business-catalyst-news">&larr; Back</a>

    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="col-md-3">
 
	  {module_contentholder,name="Aside - Newsletter Signup"}
	  <hr>
	  {module_contentholder,name="Aside - Upcoming Classes"}
	  <hr>
	  {module_contentholder,name="Aside - BC News"}
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 