<!DOCTYPE html>
<html>
	<head>
		<title>Backup BC</title>
		{% include "/_System/Apps/backups-unlimited/includes/head.inc" %}
	</head>
	<body id="main" class="hybrid">
		{% include "/_System/Apps/backups-unlimited/includes/loading.inc" %}
		<div id="reports">
			<div id="report-close"><i class="fa fa-times"></i></div>
			<div id="report-body">
				<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Backup Report</span></h2>
				<div id="summary" class="box-item">
					<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Summary</span></h2>
					<p>This <span id="backupType"></span> backup <span id="backupStatus"></span> and was performed <span id="backupDate"></span>. <span id="ifComplete hide">It completed with <span id="backupErrorCount"></span>.</span><span class="isAuto hide"></span></p>
				</div>
				<div id="archiveInfo" class="box-item">
					<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Backup Info</span></h2>
					<ul>
						<li>Filename: <span id="backupFile"></span></li>
						<li>Location: <span id="backupLocation"></span></li>
						<li>File Size: <span id="backupSize"></span></li>
					</ul>
					<a id="downloadArchive" class="basic-button small-button call-to-action hide reportActions"><i class="fa fa-download"></i>&nbsp; Download Backup File</a>
					<a id="deleteArchive" class="basic-button small-button hide reportActions"><i class="fa fa-times"></i> Delete</a>
					<div style="clear:both"></div>
				</div>
				<div class="box-item full">
					<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Backup Options</span></h2>
					<p>This backup was run using the options below. <span class="isAuto hide">To change the backup options selected for use during your automatic backups, please use the <a href="settings.html">settings page</a>.</span></p>
					<ul id="reportBackupOptions" class="icon-list"></ul>
					<div style="clear:both"></div>
				</div>
				<div id="backupErrors" class="box-item full hide">
					<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Issues</span></h2>
					<p>The backup encountered some issues. Please review these below.</p>
					<ul id="backupErrorList" class="icon-list"></ul>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
		<div id="container-body">
			{% assign active = "Backups" %}
			{% include "/_System/Apps/backups-unlimited/includes/nav.inc" %}
			{% include "/_System/Apps/backups-unlimited/includes/authorizationAlerts.inc" %}
			{% include "/_System/Apps/backups-unlimited/includes/backupSuccess.inc" %}
			{% include "/_System/Apps/backups-unlimited/includes/storageAlert.inc" %}
			{% include "/_System/Apps/backups-unlimited/includes/cloudStorageAlert.inc" %}
			<div id="backups">
				<div id="backupBox" class="box-item no-outline">
					<div id="chooseBackup">
						<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Automatic Backups</span></h2>
						<div class="hybridButtons">
							<p id="backupsSummary" class="hide">Your <span id="autoOptions"></span> will be backed up <span id="autoWhere"></span> <span id="frequency"></span>.<br><a href="settings.html">Change Settings</a></p>
						</div>
						<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap expandable-title" target="#manual-options"><i class="fa fa-caret-right blue large"></i> On-Demand Backups</span></h2>
						<div id="manual-options" class="hybridButtons collapsed">
							<p>You may perform On-Demand Backups at any time.</p>
							<div id="backupOptions"></div>
							<br><br>
							<a id="custom-backup-go" class="basic-button large-button call-to-action">Backup Now</a>
						</div>
					</div>
					<div id="backupProgress" style="display:none;">
						<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Backup Progress<span class="stepsProgress"></span></span></h2>
						<div id="progressIndicator"><div class="fill"></div></div>
						<div id="progressMessage"></div>
						<div id="XofXmessage"></div>
						<div id="XofXprog"></div>
						<p id="backup-active">NOTE: On-demand backups may take several minutes or longer, depending on your site's data needs. You may stay on this page to view the progress of your backup, or check back later. Your backup will appear in the list of backups when it has completed.</p>
					</div>
					<div id="backupSave" style="display:none;">
						<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">Backup Ready<span class="stepsProgress"></span></span></h2>
						<br><br>
						<a id="saveLocal" class="basic-button small-button call-to-action">Save to your computer</a>
					</div>
				</div>
				<div id="usageStats" class="box-item">
					<h2 class="hybridFormHeader"><span class="hybridFormTitlewrap">On-Site Usage Stats</span></h2>
					<div id="diskUse">
						<strong>Disk Usage</strong> - <span class="current">0</span> MB of <span class="max">0</span> MB (<span class="percent">0</span>%)
						<div class="usageBar"><div class="fill"></div></div>
					</div>
					<div id="numBackups">
						<strong>No. of Backups</strong> - <span class="current">0</span> of <span class="max">0</span> (<span class="percent">0</span>%)
						<div class="usageBar"><div class="fill"></div></div>
					</div>
				</div>
				<div style="clear:both"></div>
			</div>
			{% include "/_System/Apps/backups-unlimited/includes/lastScheduled.inc" %}
			<div class="RadGrid RadGrid_Default">
				<table id="curBackups" cellspacing="0" cellpadding="0" class="rgMasterTable">
					<tbody>
						<tr>
							<th class="rgHeader rgCheck" style="width:1%; min-width:10px"></th>
							<th class="rgHeader" style="width:38%">Backup File</th>
							<th class="rgHeader" style="width:14%">Created</th>
							<th class="rgHeader" style="width:12%">Type</th>
							<th class="rgHeader" style="width:19%">Location</th>
							<th class="rgHeader" style="width:11%">File Size</th>
							<!-- <th class="rgHeader" style="width:5%">Status</th> -->
							<th class="rgHeader" style="width:5%">Details</th>
						</tr>
						<tr id="emptyMessage"><td colspan="7">You don't have any backups. Please create one.</td></tr>
					</tbody>
					<tfoot>
						<tr class="rgPager">
							<td class="rgPagerCell NextPrevAndNumeric" colspan="7">
								<div class="rgWrap rgArrPart1">
									<a class="rgPageFirst disable" title="First Page"></a>
									<a class="rgPagePrev disable" title="Previous Page"></a>
								</div>
								<div class="rgWrap rgNumPart"></div>
								<div class="rgWrap rgArrPart2">
									<a class="rgPageNext disable" title="Next Page"></a>
									<a class="rgPageLast disable" title="Last Page"></a>
								</div>
								<div class="rgWrap rgAdvPart">
									<span class="rgPagerLabel" id="pageSizeLabel">Page size:</span>
									<div class="RadComboBox RadComboBox_Default" id="pageSizeComboBox" data-target="pageSizeComboBox_DropDown" data-transition="slideDown">
										<table summary="combobox">
											<tbody>
												<tr class="rcbReadOnly">
													<td class="rcbInputCell rcbInputCellLeft"><input type="text" readonly value="20" id="PageSizeComboBox_Input" class="rcbInput" name="" autocomplete="off"></td>
													<td class="rcbArrowCell rcbArrowCellRight"><a class="pageSizeComboBox_Arrow">select</a></td>
												</tr>
											</tbody>
										</table>
										<div class="rcbSlide" id="pageSizeComboBox_DropDown">
											<div class="RadComboBoxDropDown RadComboBoxDropDown_Default">
												<div class="rcbScroll rcbWidth">
													<ul class="rcbList">
														<li class="rcbItem">10</li>
														<li class="rcbItem">20</li>
														<li class="rcbItem">50</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="rgWrap rgInfoPart">
									Displaying page <span id="currentPage"></span> of <span id="totalPages"></span>, items <span id="currentItems"></span> of <span id="totalItems"></span>
								</div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<p id="pickupNote" class="hide"><strong>**</strong> Pickup is available for up to 7 days after a backup has been performed. Please ensure you download these files before they become unavailable.</p>
			<div class="footerbuttons">
				<a id="deleteSelected" class="basic-button small-button">Remove Selected Backups</a>
			</div>
		</div>
		{% include "/_System/Apps/backups-unlimited/includes/scripts.inc" %}
	</body>
</html>