<!DOCTYPE html>
<html>
	<head>
		<title>Backup BC Settings</title>
		{% include "/_System/Apps/backups-unlimited/includes/head.inc" %}
	</head>
	<body id="settings" class="hybrid">
		{% include "/_System/Apps/backups-unlimited/includes/loading.inc" %}
		<div id="container-body">
			{% assign active = "Settings" %}
			{% include "/_System/Apps/backups-unlimited/includes/nav.inc" %}
			{% include "/_System/Apps/backups-unlimited/includes/authorizationAlerts.inc" %}
            <div id="storage-location" class="box-item full">
				{% include "/_System/Apps/backups-unlimited/includes/uploadTo.inc" %}
			</div>
			<div id="storage-limits" class="box-item full">
				{% include "/_System/Apps/backups-unlimited/includes/limits.inc" %}
			</div>
			<div id="backup-when" class="box-item full">
				{% include "/_System/Apps/backups-unlimited/includes/frequency.inc" %}
			</div>
			<div id="backup-what" class="box-item full">
				{% include "/_System/Apps/backups-unlimited/includes/backupWhat.inc" %}
			</div>
			<div class="footerbuttons">
				<input id="saveSettings" type="button" class="basic-button large-button call-to-action" value="Save">
				<input id="cancelSettings" type="button" class="basic-button large-button" value="Cancel">
			</div>
		</div>
		{% include "/_System/Apps/backups-unlimited/includes/scripts.inc" %}
	</body>
</html>