<html>
    <head>
        <title>Business Catalyst Upcoming Training Locations</title>
        <meta name="description" content="Starting in February 2013 in San Francisco.  The second one will be a month or two later in Seattle." />
        <style>
            .pkt_added {text-decoration:none !important;}
        </style>
        <meta name="robots" content="noindex" />
    </head>
    <body>
        <div class="page-header marketing">
        <div class="cart-summary-custom pull-right">
        {module_shoppingcartsummary,horizontal}
        </div>
        <h1>Upcoming BC Training Dates <small>and Locations</small></h1>
        </div>
        <!-- Main Page Content and Sidebar -->
        <div class="row marketing">
        <!-- Contact Details -->
        <div class="col-md-9">
        <!-- row of columns -->
        <div class="row">
        <div class="col-md-4">
        <p class="lead zero-below">Date &amp; Time</p>
        </div>
        <div class="col-md-8">
        <p class="lead zero-below">Available Classes</p>
        </div>
        </div>
        <hr class="zero-above" />
        <ul class="list-unstyled">{tag_productlist,4,,,date,true,true}</ul>
            <p class="text-success">Dates and locations listed in green qualify for early bird pricing.</p>
            <p>If you don&rsquo;t see a city near you, please subscribe to our newsletter to be informed as we add new locations. You can also <a href="/contact">get in touch with us</a> and request your city be added to our training schedule!
            </p>
            </div>
            <!-- End Contact Details -->
            <!-- Sidebar -->
            <aside class="col-md-3">
            {module_contentholder,name="Aside - Newsletter Signup"}
            <hr />
            {module_contentholder,name="Aside - BC News"}
            </aside>
            <!-- End Sidebar -->
            </div>
            <!-- End Main Content and Sidebar -->
        </body>
    </html>
